{% load static %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>SMIS</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/bootstrap-responsive.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/fullcalendar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/maruti-style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/maruti-media.css' %}" class="skin-color" />
    <style>
        .content2 {
            text-align: center;
        }
    </style>
</head>

<body>

    <!--Header-part-->
    <div id="header">
        <h1><a href="{% url 'smishome' %}">STUDENT MANAGEMENT INFORMATION SYSTEM</a></h1>
    </div>
    <!--close-Header-part-->

    <!--top-Header-messaages-->
    <div class="btn-group rightzero"> <a class="top_message tip-left" title="Manage Files"><i class="icon-file"></i></a>
        <a class="top_message tip-bottom" title="Manage Users"><i class="icon-user"></i></a> <a
            class="top_message tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span
                class="label label-important">5</span></a> <a class="top_message tip-bottom" title="Manage Orders"><i
                class="icon-shopping-cart"></i></a> </div>
    <!--close-top-Header-messaages-->

    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class=""><a title="" href="{% url 'smisprofile' %}"><i class="icon icon-user"></i> <span
                        class="text">Profile</span></a></li>
            {% if perms.auth.delete_user %}
            <li class=""><a title="" href="{% url 'smisregister' %}"><i class="icon icon-cog"></i><span class="text">Add
                        User</span></a></li>
            <li class=""><a title="" href="{% url 'admin:index' %}"><i class="icon icon-cog"></i><span class="text">Manage
                        Users</span></a></li>
            {% endif %}
            <li class=""><a title="" href="{% url 'smislogout' %}"><i class="icon icon-share-alt"></i> <span
                        class="text">Logout</span></a></li>
        </ul>
    </div>
    <div id="search">
        <input type="text" placeholder="Search here..." />
        <button type="submit" class="tip-left" title="Search"><i class="icon-search icon-white"></i></button>
    </div>
    <!--close-top-Header-menu-->

    <div class="content2" id="sidebar">
        <h2>STUDENT MANAGEMENT INFORMATION SYSTEM</h2>
    </div>
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> <a href="{% url 'smishome' %}" title="Go to Home" class="tip-bottom"><i
                        class="icon-home"></i>
                    Home</a></div>
        </div>
        {% block scripts %}
        {% endblock scripts %}
        {% block content %}
        {% endblock %}

    </div>
    </div>
    <div class="row-fluid">
        <div id="footer" class="span12"> 2020 &copy; Methnics Solutions Dashboard. Brought to you by <a
                href="http://themedesigner.in">Lamech Desai</a> </div>
    </div>
    <script src="js/excanvas.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.ui.custom.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.flot.min.js"></script>
    <script src="js/jquery.flot.resize.min.js"></script>
    <script src="js/jquery.peity.min.js"></script>
    <script src="js/fullcalendar.min.js"></script>
    <script src="js/maruti.js"></script>
    <script src="js/maruti.dashboard.js"></script>
    <script src="js/maruti.chat.js"></script>


    <script type="text/javascript">
        // This function is called from the pop-up menus to transfer to
        // a different page. Ignore if the value returned is a null string:
        function goPage(newURL) {

            // if url is empty, skip the menu dividers and reset the menu selection to default
            if (newURL != "") {

                // if url is "-", it is this page -- reset the menu:
                if (newURL == "-") {
                    resetMenu();
                }
                // else, send page to designated URL            
                else {
                    document.location.href = newURL;
                }
            }
        }

        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }
    </script>
</body>

</html>
{% endif %}