{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div id="content">
    <div id="content-header">
        <h1>REGISTRATION FORM</h1>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-pencil"></i>
                        </span>
                        <h5>Add Users &amp; Authentication</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="{% url 'smisregister' %}" id="form-wizard" class="form-horizontal" method="post">
                            {% csrf_token %}
                            <div id="form-wizard-1" class="step">
                                <div class="control-group">
                                    <label class="control-label">USERNAME:</label>
                                    <div class="controls">
                                        {{ form.username |as_crispy_field }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">EMAIL:</label>
                                    <div class="controls">
                                        {{ form.email |as_crispy_field }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">PASSWORD:</label>
                                    <div class="controls">
                                        {{ form.password1 |as_crispy_field }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">CONFIRM PASSWORD:</label>
                                    <div class="controls">
                                        {{ form.password2 |as_crispy_field }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Registration Status:</label>
                                    <div class="controls">
                                        {{form.errors}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input id="next" class="btn btn-primary" type="submit" value="Add" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}